.VideoPreview {
  padding: 20px;

  img {
    width: 100%;

    object-fit: fill;
  }

  .Title {
    max-height: 48px;
    // a {
    font-weight: 600;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Subtitle {
    max-height: 22px;
    margin-top: 2px;
    font-size: 0.8em;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
  }
}

@media (max-width: 768px) {
  .VideoPreview {
    padding: 10px;
  }
}
