@import "../../theme/mixins";

.button {
  cursor: pointer;
  outline: none;
  font-weight: 600;
  user-select: none;
  &.outline {
    user-select: none;
    position: relative;
    z-index: 3;
    background: transparent;
    // color: #df2a2a;
    // border-color: #df2a2a;
    // @include theme-aware("background", "primary-color");
    // @include theme-aware("color", "primary-color");
    // @include theme-aware("border-color", "primary-color");
    @include theme-aware("color", "text-color");
    @include theme-aware("background", "primary-color");
    @include theme-aware("border-color", "secondary-color");
    @include theme-aware("box-shadow", "box-shadow");
    font-size: 14px;

    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    a {
      text-decoration: none;
    }
  }
  &.outline:hover {
    @include theme-aware("color", "text-color");
    @include theme-aware("background", "primary-color");
    @include theme-aware("border-color", "secondary-color");
    // color: white;
    // background: #df2a2a;
    // border-color: rgb(202 12 202 / 60%);
    transition: all 0.2s linear;
  }
  // &.outline:active {
  //   border-radius: 22px;
  // }
}
