@import "../../theme/mixins";
$width: 160px;
$height: 30px;

.Slider {
  position: relative;
  width: $width;
  height: $height;
  @include theme-aware("background", "primary-color");
  @include theme-aware("border-color", "secondary-color");
  @include theme-aware("box-shadow", "box-shadow");
  border-radius: 15px;
  border: solid 2px;
  cursor: pointer;
  user-select: none;

  .SliderDot {
    position: absolute;
    top: 2%;
    left: 4px;
    width: calc(($width / 100) * 16);
    height: calc($height - ($height / 100) * 10);
    @include theme-aware("background-color", "secondary-color");
    @include theme-aware("box-shadow", "box-shadow");
    border-radius: 15px;
  }

  .SliderOn {
    position: absolute;
    @include theme-aware("color", "text-color");
    top: 3px;
    right: 30px;
    font-size: 1.2em;
    font-weight: 600;
    width: 100px;
  }

  .SliderOff {
    position: absolute;
    @include theme-aware("color", "text-color");
    top: 3px;
    right: 30px;
    font-size: 1.2em;
    font-weight: 600;
    width: 100px;
  }
}
