// $textColor: white;
// $primaryColor: #df2a2a;
// $secondaryColor: rgb(202 12 202 / 60%);

// theme.scss
$light-text-color: white;
$dark-text-color: yellow;
$my-class-bg-light: #df2a2a;
$my-class-bg-dark: rgb(202 12 202 / 60%);
